.mouse-light {
    position: absolute;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(243, 240, 36, 0.8) 0%, rgba(255, 255, 255, 0) 70%);
    width: 100px; /* Adjust size as needed */
    height: 100px; /* Adjust size as needed */
    pointer-events: none; /* Prevent it from capturing mouse events */
    transition: opacity 0.2s; /* Smooth transition for opacity */
    opacity: 0.5; /* Adjust opacity to your liking */
    mix-blend-mode: lighten; /* Blend mode to give a light effect */
}